:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --accent-color: #2196F3;
}

body {
    font-family: var(--main-font);
    color: #212121
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.address {
    font-style: normal;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.logo {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}
/* =================== HEADER =================== */

.logo-dark {
    color: #212121;
}

.navigation-link {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.navigation-link:hover,
.navigation-link:focus{
    color: var(--accent-color);
}

.mail-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.mail-link:hover,
.mail-link:focus {
    color: var(--accent-color);
}

.tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.tel-link:hover,
.tel-link:focus {
    color: var(--accent-color);
}

/* =================== END HEADER =================== */

/* =================== HERO =================== */

.hero {
    background: #2F303A;
}

.hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.mdl-button {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    color: #FFFFFF;
    cursor: pointer;
}

/* =================== END HERO =================== */

/* =================== ADVANTAGES =================== */

.advantages-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;

}

/* =================== ABOUT =================== */



/* =================== END ABOUT =================== */

/* =================== TEAM =================== */

.team {
    background: #F5F4FA;
}

.team-list-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /*text-align: center;*/
    letter-spacing: 0.03em;
}

.team-list-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    /*text-align: center;*/
    letter-spacing: 0.03em;
    color: #757575;;
}

/* =================== END TEAM =================== */

/* =================== FOOTER =================== */

.footer {
    background: #2F303A;
}

.logo-light {
    color: #FFFFFF;
}

.footer-address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-mail-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/* =================== END FOOTER ===================*/

/* =================== CARDS SORTING =================== */
.sort-button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.sort-button:hover,
.sort-button:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}
/* =================== END CARD SORTING =================== */

/* =================== CARDS =================== */

.cards-list-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.cards-list-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

/* =================== END CARDS =================== */